html, body {
    margin: 0;
    padding: 0;
    color: #eee;
    height: 100%;
    overflow: hidden;
    background-image: radial-gradient(circle, #9b9b9b 0%, #a29fa3 100%);
}

::-webkit-scrollbar {
    width: 0;
}
