html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #8c8c8c;
    font-family: Georgia, "Times New Roman", Times, serif;
    /*background-image: radial-gradient(circle, #ffffff 0%, #e1dde2 100%);*/
}

::-webkit-scrollbar {
    width: 0;
}
