.inputField {
    float: left;
    width: 50%;
    height: 100%;
    bottom: 0;
    font-size: 16px;
    padding: 0;
    border: 0;
    border-right: 1px #292723 solid;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: auto;
}

.render {
    float: left;
    width: 50%;
    height: 100%;
    overflow: auto;
}

.head {
    width: 100%;
    height: 2em;
    border-bottom: 1px #292723 solid;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

::-webkit-scrollbar { /*滚动条整体样式*/

    width: 10px; /*高宽分别对应横竖滚动条的尺寸*/

    height: 1px;

}

::-webkit-scrollbar-thumb { /*滚动条里面小方块*/

    border-radius: 10px;

    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);

    background: #535353;

}

::-webkit-scrollbar-track { /*滚动条里面轨道*/

    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);

    border-radius: 1px;

    background: #EDEDED;

}
