.container {
    margin: 0 auto;
    margin-top: 20px;
    width: 600px;
}


.category {
    width: 300px;
}

.headRight {
    float: right;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .category {
        display: none;
    }
}
